.aboutus {
  margin: 1rem 4rem;
}

.crew_name {
  color: var(--seven-color);
  font-size: var(--title-size-principal);
  text-align: center;
}

.descriptionName {
  text-align: center;
}

.team-names {
  color: var(--seven-color);
  font-size: var(--title-size-third);
}

.gif {
  width: 100%;
  margin: 1rem 0;
  border-radius: 8px;
}

.nodas {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 1rem;
}

.story-network {
  width: 100%;
  margin: 0 1rem 1rem 1rem;
}

.avatar {
  width: 100%;
}

.textAbout {
  font-size: var(--text-size);
  padding: 1rem 0 3rem 0;
}

.cardContainer {
  background-color: var(--secondary-color);
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px var(--primary-color);
}

.cardContainer img {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  display: flex;
  box-shadow: 1px 1px 1px 1px var(--sixth-color);
}

.userDetails {
  display: flex;
  flex-direction: column;
}

.listUser {
  display: flex;
  flex-direction: column;
}

.listUser > li > a {
  color: var(--primary-font-color);
}

.listUser > li > a:hover {
  color: var(--fourth-color);
}

.iconsSocials img {
  width: 4rem;
  opacity: 0.8;
}

.iconsSocials img:hover {
  opacity: 0.9;
  scale: 1.5;
}

b {
  color: var(--sixth-color);
}

#about-logo {
  width: 45%;
  padding: 0 auto auto 0;
}

.copyright {
  text-align: center;
}

.copyright > a {
  font-size: 1.25rem;
}

.copyright > a:hover {
  color: var(--primary-font-color);
}

.network_link {
  margin-top: 1rem;
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
}

.network_link:hover {
  cursor: pointer;
}
