* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  display: flex;
}

#about1 {
  color: rgb(64, 116, 214);
  font-size: 3rem;
  text-align: center;
}

#about2 {
  color: rgb(64, 116, 214);
  font-size: 2rem;
  margin-left: 2rem;
}

.descriptionName {
  margin: 2rem 0 2rem 2rem;
}

.bgImage {
  display: flex;
  justify-content: center;
}

p {
  margin: 0 2rem;
}

.iconsSocials img {
  width: 2.4rem;
  margin: 0 0 1rem 2rem;
  opacity: 0.8;
}

.iconsSocials img:hover {
  opacity: 0.9;
  width: 2.6rem;
}

.copyright {
  margin-bottom: 0.6rem;
}

.copyright > a {
  color: rgb(207, 130, 223);
}

.avatar {
  display: flex;
  flex-direction: column;
}

.avatar > img {
  width: 10.4rem;
  height: 12rem;
  margin: 1rem 1rem 0 1rem;
}
