* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --primary-color: #232736;
  --secondary-color: #352e4d;
  --third-color: #6446af;
  --fourth-color: #d44dd7;
  --fifth-color: #f392fc;
  --sixth-color: #01d4e0;
  --primary-font-color: #dadada;
}

main {
  min-height: 100dvh;
}
