.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 1rem 0;
}

.carousel-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel img {
  width: 100%;
  display: none;
  border-radius: 8px;
}

.carousel img.active {
  display: block;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: black;
  opacity: 65%;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
  border-radius: 8px;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}
