.categories h2 {
  margin-top: 2rem;
  margin-left: 1rem;
}

.container_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  margin: 2rem 1rem;
}

.genres_list {
  display: flex;
  flex-wrap: wrap;
}

.background_link_image {
  width: 8rem;
}

.genres_list > a {
  color: white;
  padding: 1rem 2rem;
  background-position: center;
  background-size: cover;
}
