footer {
  background-color: var(--primary-color);
  height: 50px;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer > button > img {
  height: 30px;
}

footer > a > img {
  height: 30px;
}

footer > button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}
