* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.image_game {
  width: 100%;
  height: 14rem;
}

.title_metascore {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.title_game > h2 {
  padding-bottom: 0.25rem;
}

.title_game > hr {
  background-color: green;
  height: 4px;
  border: none;
  max-width: 8rem;
}

.metacritique {
  border: none;
  border-radius: 50%;
  background-color: green;
  padding: 1rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.types_of_game {
  display: flex;
  gap: 1rem;
  padding-left: 1rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.types_of_game > li {
  padding: 4px 16px;
  border: 2px solid #352e4d;
  text-align: center;
}

.description_game {
  padding: 0rem 1rem;
  width: 100%;
  position: relative;
}

.shortDescription {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.description_game > p {
  font-size: 12px;
  color: #ababab;
}

.longDescription {
  max-height: none;
  white-space: normal;
}

.readMore {
  display: block;
  margin-top: 1em;
  margin-left: 13rem;
  background-color: var(--primary-color);
  color: white;
  padding: 0.5em 1em;
  cursor: pointer;
  border: none;
  opacity: 0.8;
}

.readMore:hover {
  color: var(--sixth-color);
}

.title_gamepage {
  padding-bottom: 8px;
  font-size: 16px;
}

.title_gamepage > span {
  color: green;
}

.platform_game {
  padding: 1.5rem 1rem 8px 1rem;
}

.types_of_platform {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: center;
  flex-wrap: wrap;
}

.xbox {
  background-color: #0e7a0d;
  padding: 5px 1rem;
  border-radius: 16px;
}

.playstation {
  background-color: #003087;
  padding: 5px 1rem;
  border-radius: 16px;
}

.nintendo {
  background-color: #e60012;
  padding: 5px 1rem;
  border-radius: 16px;
  min-width: 17ch;
}

.divers {
  background-color: grey;
  padding: 5px 1rem;
  border-radius: 16px;
  min-width: 17ch;
}

.developers_publishers {
  background-color: #252525;
  margin: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
}
.developers > p {
  color: #ababab;
  font-size: 12px;
}

.publishers > p {
  color: #ababab;
  font-size: 12px;
}

.like_added {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0 1rem 2rem 1rem;
}

.like_button {
  width: 3rem;
  height: 3rem;
  background-color: #6446af;
  border: none;
  border-radius: 4px;
  color: white;
}

.like_button:hover {
  cursor: pointer;
  background-color: var(--fifth-color);
}

.like_button > img {
  width: 100%;
}

.added_button {
  width: 100%;
  height: 3rem;
  background-color: #6446af;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
