* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #232736;
  --secondary-color: #352e4d;
  --third-color: #6446af;
  --fourth-color: #d44dd7;
  --fifth-color: #f392fc;
  --sixth-color: #01d4e0;
  --primary-font-color: #dadada;
}

.Navbar {
  background-color: var(--primary-color);
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.animated-border {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(
    90deg,
    var(--fourth-color),
    var(--sixth-color),
    #ff6b00,
    var(--sixth-color),
    var(--fourth-color),
    var(--sixth-color)
  );
  background-size: 400%;
  animation: animate 10s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.iconsGroup {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0 1.5rem 0 0;
}

.iconsGroup > .search-button {
  background: none;
  border: none;
}

.menu-burger {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.menu-dropdown {
  position: absolute;
  top: 69px;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.menu-dropdown a {
  padding: 0.5rem 1rem;
  color: var(--primary-color);
  text-decoration: none;
}
